<!-- This is the form page where users input their name and select their preferences; 
 once form is submitted, user is sent to results.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select a Composer</title>
</head>
<body>
    <h1>mySTRO welcomes you to the Classical Extravaganza Form</h1>
    <form action="/search" method="POST">
        <!-- Input for user's name -->
        <label for="namefield">Name:</label>
        <input type="text" id="namefield" name="name" required>
        <br><br>

        <!-- Dropdown for composers -->
        <label for="composer_id">Choose a Composer:</label>
        <select id="composer_id" name="composer_id" required>
            <option value="" disabled selected>Select a composer</option>
            {% for composer in composers %}
                <option value="{{ composer['id'] }}">{{ composer['complete_name'] }} ({{ composer['epoch'] }})</option>
            {% endfor %}
        </select>
        <br><br>

        <!-- Submit button -->
        <button type="submit">Submit</button>
    </form>
</body>
</html>
