{% extends "base.html" %}

{% block content %}
<div class="bg-gray-100 p-10">
    <h1 class="text-3xl font-bold text-center text-pumpkin">Music Piece Details</h1>
    <div class="max-w-lg mx-auto mt-10 bg-linen shadow-lg rounded-lg overflow-hidden">
        <div class="px-6 py-4">
            <h2 class="text-xl font-semibold text-dark-purple">{{ piece.title }}</h2>
            <p class="text-battleship-gray mt-2">
                <strong>Composer:</strong> {{ piece.composer }}
            </p>
            <p class="text-battleship-gray mt-2">
                <strong>Genre:</strong> {{ piece.genre }}
            </p>
            <p class="text-battleship-gray mt-2">
                <strong>Description:</strong> {{ piece.description or "No description available" }}
            </p>
            <form method="POST" action="{{ url_for('library.single_piece', piece_id=piece.id) }}">
                <input type="hidden" name="submit_button" value="delete">
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
    <footer class="text-center mt-6">
        <a href="{{ url_for('library.all_pieces') }}"
           class="text-penn-red hover:text-dark-purple underline">
            Back to My Library
        </a>
    </footer>
</div>
{% endblock content %}